/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.form-validation {
  width: 100%;
  max-width: 1200px;
  padding: 20vh;
  margin: auto;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #c51d4e; /* red */
}

.click-pointer{
  cursor: pointer;
}
